*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-image: url(./ressources/colorful-love-hearts-wallpaper-free-photo.webp);
    width: 100vw;
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#cpt{
    font-size: 1.5em;
}
.heart{
    animation: 1s ease-in 0s infinite reverse both running boom;
    -webkit-animation: 1s ease-in 0s infinite reverse both running boom;
    filter: drop-shadow(0px 2px 20px rgb(84, 54, 168));
    -webkit-filter: drop-shadow(0px 2px 20px rgb(255, 255, 255));
}
@keyframes boom {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
      30% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
      
      50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
      100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}