*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-image: url(./ressources/colorful-love-hearts-wallpaper-free-photo.webp);
    width: 100vw;
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#cpt{
    font-size: 1.5em;
}
